/* Hoja de estilos concretos para la pagina game.html */

#game-iframe{
    min-height: 80vh;
    padding: 50px;
}

/* Media Query para pantallas pequeñas (menos de 576px) */
@media (max-width: 768px) {
    #game-iframe {
        padding-top: 0; /* Elimina el padding superior */
        padding-bottom: 0; /* Elimina el padding inferior */
    }
}