body { 
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: flex-start; /* Alinea todo hacia la parte superior */
    align-items: center;   
    margin: 0 2rem !important;
}

#game {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center; 
    align-items: center;     
}


#info-bar {
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
    width: 100%;
    margin-bottom: 2rem; /* Añadimos un margen en la parte inferior */
}