#logo-img{
    width: 10rem;
}
body {
    height: 100vh; 
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center; 
    align-items: center;   
    margin: 0 2rem !important;
  }

#start, #game{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center; 
    align-items: center;     
}

#trophy-icon, #clock-icon, #check-icon, #x-icon{
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0.4rem;
}

#points-div{
    position: absolute;
    top: 1rem;
    left: 1rem;
}

#time-div{
    position: absolute;
    top: 1rem;
    right: 1rem;
}
