/* Hoja de estilos concretos para la pagina game.html */
*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    overflow: hidden; 
}

#game-iframe{
    height: 80vh;
    overflow: hidden; 
    padding: 50px;
}